 html {
  background: url(background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*html {
  background-color: yellow;
  font-family: 'Helvetica', sans-serif;
  font-family: 'Calibri', sans-serif;
  font-size: small;
}
*/

.h1 {
  font-weight: 100;
  letter-spacing: 6;
  font-size: 200px;
}

.p {
  font-weight: 200;
  letter-spacing: 1;
}

.prof-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;

}
.kotak-profil {
  width: 400px;
  height: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.ikon-sosmed {
  font-size: 40px;
}

.ikon-sosmed a {
  color: white;
  margin: 10px;
  text-decoration: none;
  transition: all ease-in-out 250ms;
  }

.ikon-sosmed a:hover {
  color: #b9b9b9;
}

.garis-tengah {
  width: 400px;
  margin: 0 auto;
  border-top: 1px solid white;
}
